<a href="https://colab.research.google.com/github/vinovijay7833/1OO-DAYS-CODE/blob/main/100CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Getting Started
#Positive or Negative number:
#---------------------1------------------#
# Brute Force
tc=int(input("tc:"))
for i in range(tc):
  num=int(input("ent:"))
  if num>0:
     print("positive")
  elif num<0:
      print("negative")
  else:
       print("zero")

tc:2
ent:3
positive
ent:0
zero

In [ ]:
#---------------------2--------------------#
#Nested if-else Statements
tc=int(input("tc:"))
for i in range(tc):
  num=int(input("ent:"))
  if num>=0:
    if num>0:
      print("positive")
    else:
      print("zero")
  else:
    print("negative")

tc:2
ent:4
positive
ent:4
positive

In [ ]:
#-----------------3-------------------#
#ternary operator
tc=int(input("tc:"))
for i in range(tc):
  num=int(input("ent:"))
  print("positive" if num>=0 else "negative")

tc:2
ent:-1
negative
ent:2
positive

In [ ]:
#Check Whether a Number is Even or Odd in Python
#------------------1--------------------#
#Brute Force
tc=int(input("no of test case:"))
for i in range(tc):
  num=int(input("no:"))
  if num%2==0:
    print("even")
  else:
    print("odd")

4
2
even
2
even
3
odd
0
even

In [ ]:
#--------------------2-----------------#
#Ternary Operator
tc=int(input("no of test case:"))
for i in range(tc):
  num=int(input("no:"))
  print("even" if num%2==0 else "odd")

no of test case:2
no:6
even
no:9
odd

In [ ]:
#----------------------3---------------------#
#Bitwise Operators
def even(num):
  if num%2==0:
    print("even")
  else:
    print("odd")
tc=int(input("no of test case:"))
for i in range(tc):
  num=int(input("no:"))
  even(num)

no of test case:2
no:5
odd
no:6
even

In [ ]:
#------------------Sum of First N Natural numbers:--------------------#
#------------------1---------------------------------#
#-----------------for Loop-----------------------#
num=int(input("Enter the number:"))
sum=0
for i in range(num+1):
  sum+=i
print("SUM of 1st 4 integers:",sum)

Enter the number:4
SUM of 1st 4 integers: 10

In [ ]:
#-------------- Formula for the Sum of Nth Term---------------#
#------------------1-----------------#
num=int(input("Enter the number:"))
print(num*(num+1)/2)

Enter the number:4
10.0

In [ ]:
#----------------Recursion------------#
#-----------------------3---------------------#
def sum(num):
  if num==1:
    return 1
  return num+sum(num-1)
num=int(input("Enter the number:"))
print(sum(num))

Enter the number:4
10